*{
    margin: 0px;
    padding: 0px;
}
div {
    background-color: bisque;
    padding: 20px 30px;
    width: 500px;
}
div h1{
    padding-bottom: 10px;
}
div img{
    float: right;
    padding: 10px;
    width: 200px;
}
div p {
    padding-top: 10px;  
    text-align: justify; 
}
