* {
    margin: 0;
    padding: 0;
}

nav {
     margin: 10px 40px;
}
nav ul li {
  list-style: none;
  padding: 10px;
  display: inline-block;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px ;
}
nav ul li a:hover{
    padding:10px;
    border: 2px solid rgb(22, 170, 22);
    border-radius: 0px 10px 0px 10px;
}

.dollar{
    margin-left: 40px;
    display: inline-block;
    width:500px;
    height: 300px;
    background-color: rgb(212, 207, 207);
    padding:10px;
}
.dollar article h1 {
 
    font-size:40px;
    margin-left: 20px;
    padding-top: 30px;
}
.dollar article h2{
    font-size: 30px;
    color: rgb(9, 85, 9);
    padding: 20px;
}
.dollar article p {
    padding:10px;
    padding-bottom: 20px;
}
.dollar a{
   background-color: rgb(3, 116, 3);
   padding: 10px;
   margin-left: 10px;
   text-decoration: none;
   color: black;
 }
 .dollar a:hover {
      border-radius: 0px 10px 0px 10px;
 }